/* 
  MAIN 
*/
main{
  height: calc(100vh - 80px);
}

/* MAIN TOP  */
.main-top{
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 70px;
  text-align: right;
  background-color: rgba(0, 0, 0, .5);
}

.main-top button{
  background-color: black;
  color: white;
  padding: 10px 35px;
  border-radius: 20px ;
  border: 1px solid white;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
}
/* /MAIN TOP  */




/* MAIN LEFT  */
.main-left .mobile{
  display: none;
}

.main-left{
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
}

.main-left .content{
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-left .content .icon{
  width: 20px;
  vertical-align: middle;
}

.main-left .content i{
  font-size: 20px;
  vertical-align: middle;
  color: #A2A3A3;
}

.main-left .content .logo{
  width: 60%;
  margin: 10px;
}

.main-left .content span{
  vertical-align: middle;
}

.main-left .content ul li{
  padding: 8px 15px;
  font-size: 11px;
}

.main-left .content .active{
  border-left: 2px solid #ADFF2E;
}

.main-left .content .active i{
  color: #A2A3A3;
}

.main-left .content .box-add{
  padding: 8px 10px;
  background-color: #A2A3A3;
  color: black;
}

.main-left .content h6{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
  margin-top: 10px;
}

.app-user{
  margin: 0 15px;
  cursor: pointer;
  font-size: 12px;
  color: #717272;
}

.app-user .false-hr{
  border-bottom: 1px solid #717272;
}

.app-user .app{
  padding: 8px 0;
}

.app-user .app .icon{
  width: 10px;
}

.app-user .user{
  padding: 8px 0;
  color: white;
}

.app-user .user .icon{
  background-color: #717272;
  border-radius: 50%;
}
/* /MAIN LEFT  */




/* MAIN RIGHT  */
.main-right{
  width: calc(100% - 200px);
  height: 100%;
  padding-top: 70px;
  overflow-y: auto;
  background-color: #141922;
  padding-left: 10px;
  padding-right: 10px;
}

.main-right ul{
  text-align: center;
  margin: 20px 0;
}

.main-right ul li{
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0 5px;
}

.main-right section{
  padding-bottom: 30px;
}

.main-right .title-section{
  margin-left: 10px;
}

.main-right .title-section h2{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-right .content{
  flex-wrap: wrap;
  padding: 30px 0;
}

/* Nelle dimensioni per tablet divido per 4 e 2  */
.main-right .covers{
  width: calc(100% / 6 - 20px);
  margin: 0 10px;
}

.main-right .cover-image img{
  width: 100%;
}

.main-right .cover-text{
  text-align: center;
}

.main-right .cover-text h5{
  color: white;
  font-weight: bold;
}

.main-right span{
  color: #717272;
  font-size: 11px;
}

#artisti .cover-image img{
  border-radius: 50%;
}
/* /MAIN RIGHT  */




/* 
  FOOTER 
*/
footer{
  height: 80px;
}