/* 
  MAIN 
*/
main{
  height: calc(100vh - 70px);
}


/* MAIN TOP  */
.main-top{
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 70px;
  text-align: right;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
}

.main-top button{
  background-color: black;
  color: white;
  padding: 10px 35px;
  border-radius: 20px ;
  border: 1px solid white;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  transition: .2s;
}

.main-top button:hover{
  transform: scale(1.1);
}
/* /MAIN TOP  */




/* MAIN LEFT  */
.main-left .mobile{
  display: none;
}

.main-left{
  width: 200px;
  height: 100%;
  background-color: black;
}

.main-left .content{
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-left .sub-content{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-left .content nav{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-left .content ul.overflow{
  height: 100%;
  overflow-y: auto;
}

.main-left .content .icon{
  width: 20px;
  vertical-align: middle;
}

.main-left .content i{
  font-size: 20px;
  vertical-align: middle;
  color: #A2A3A3;
}

.main-left .content .logo{
  width: 60%;
  margin: 10px;
}

.main-left .content span{
  vertical-align: middle;
}

.main-left .content ul li{
  padding: 8px 15px;
  font-size: 11px;
  color: #717272;
}

.main-left .content ul li:hover{
  color: white;
}

.main-left .content ul li:hover a{
  color: white;
}

.main-left .content .active{
  border-left: 2px solid #ADFF2E;
}

.main-left .content .box-add{
  padding: 8px 10px;
  background-color: #A2A3A3;
  color: black;
}

.main-left .content .box-add:hover{
  background-color: white;
}

.main-left .content .box-add:hover span{
  color: white;
}

.main-left .content h6{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
  margin-top: 10px;
}

.app-user{
  margin: 0 15px;
  cursor: pointer;
  font-size: 12px;
  color: #717272;
}

.app-user .false-hr{
  border-bottom: 1px solid #717272;
}

.app-user .app{
  padding: 8px 0;
}

.app-user .app:hover{
  color: white;
}

.app-user .app .icon{
  width: 10px;
}

.app-user .user{
  padding: 8px 0;
  color: white;
}

.app-user .user .icon{
  background-color: #717272;
  border-radius: 50%;
}
/* /MAIN LEFT  */




/* MAIN RIGHT  */
.main-right{
  width: calc(100% - 200px);
  height: 100%;
  padding-top: 70px;
  overflow-y: auto;
  background-color: #141922;
  padding-left: 10px;
  padding-right: 10px;
}

.main-right ul{
  text-align: center;
  margin: 20px 0;
}

.main-right ul li{
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0 5px;
  
}

/* Falso border bottom active con dimensione  */
.main-right ul li a.active{
  position: relative;
  padding: 3px 0;
}

.main-right ul li a.active::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  transform: translate(-50%);
  display: block;
  height: 2px;
  width: 30px;
  background-color: #ADFF2E;
}
/* /Falso border bottom active con dimensione  */

.main-right ul li:hover a{
  color: white;
}

.main-right section{
  padding-bottom: 30px;
}

.main-right .title-section{
  margin-left: 10px;
}

.main-right .title-section h2{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-right .content{
  flex-wrap: wrap;
  padding: 30px 0;
}

/* Nelle dimensioni per tablet divido per 4 e 2  */
.main-right .covers{
  width: calc(100% / 6 - 20px);
  margin: 5px 10px;
  cursor: pointer;
  transition: all .3s;
  background-color: rgba(61, 63, 61, 0.1);
  padding: 10px 10px 0 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.main-right .covers:hover{
  transform: scale(1.05);
  background-color: rgba(61, 63, 61, 0.4);
}

.main-right .cover-image{
  position: relative;
}

.main-right .cover-image .layover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.main-right .cover-image .layover .play-hover{
  color: white;
  height: 100%;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.main-right .covers:hover .play-hover{
  animation-name: play;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes play{
  0%{transform: scale(1)}
  50%{transform: scale(1.2)}
}

.main-right .covers:hover .layover{
  display: block;
}

.main-right .cover-image img{
  width: 100%;
}

.main-right .cover-text{
  text-align: center;
  padding: 5px;
}

.main-right .cover-text h5{
  color: white;
  font-weight: bold;
}

.main-right span{
  color: #717272;
  font-size: 11px;
}

#artisti .cover-image img{
  border-radius: 50%;
}

/* trick per vedere bene ancoraggio */
#nav-center::before,
#recently::before,
#per-te::before,
#artisti::before{
  content: '';
  display: block;
  height: 80px;
  margin: -80px 0 0;
}
/* /trick per vedere bene ancoraggio */
/* /MAIN RIGHT  */




/* 
  FOOTER 
*/
footer{
  height: 70px;
  padding-left: 10px;
  background-color: #282828;
}

.player{
  height: 100%;
  justify-content: space-between;
  align-items: center;
}



/* Album  */
.player-album .album-image{
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.player-album .album-image img{
  width: 100%;
}

.player-album .album-text{
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  cursor: pointer;
}

.player-album .album-text h5{
  color: white;
  font-weight: bold;
  font-size: 11px;
}

.player-album .album-text span{
  color: #717272;
  font-size: 8px;
  vertical-align: middle;
}

.player-album .album-text span:hover{
  text-decoration: underline;
  color: white;
}

.player-album .like-folder{
  flex-wrap: wrap;
  align-items: center;
  color: #717272;
  cursor: pointer;
  font-size: 14px;
}

.player-album .like-folder div{
  margin-right: 10px;
}

.player-album .like-folder div:hover{
  color: white;
}
/* /Album  */


/* Controller  */
.player-controller{
  width: 40%;
  flex-direction: column;
  align-items: center;
}

.player-controller .controller-top{
  color: white;
  align-items: center;
  padding-bottom: 10px;
}

.player-controller .controller-top .fa-circle-play{
  font-size: 25px;
}

.player-controller .controller-top div{
  /* display: inline-block; */
  margin: 0 10px;
  cursor: pointer;
}

.player-controller .controller-top div:hover{
  transform: scale(1.1);
}

/* Da rivedere  */
.player-controller .controller-bottom{
  align-items: center;
  width: 40vw;
}

.player-controller .controller-bottom div{
  /* display: inline-block; */
  /* margin: 0 10px; */
  /* vertical-align: middle; */
  cursor: pointer;
}

.player-controller .controller-bottom .song-time{
  color: white;
  font-size: 8px;
  margin: 0 10px;
}

.player-controller .controller-bottom .song-bar{
  width: 30vw;
  height: 3px;
  background-color: #717272;
  border-radius: 5px;
  position: relative;
}

.controller-bottom .song-bar .advancement-song-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 3px;
  background-color: #C1C1C1;
  border-radius: 5px;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}

.controller-bottom .song-bar:hover .advancement-song-bar{
  background-color: #ADFF2E;
}

.controller-bottom .advancement-circle{
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 0;
  border-radius: 50%;
  display: none;
}

.controller-bottom .song-bar:hover .advancement-circle{
  display: block;
}
/* /Controller  */



/* Audio  */
.player-audio{
  width: 200px;
  align-items: center;
}

.player-audio div{
  margin-left: 10px;
  font-size: 12px;
  color: white;
  /* display: inline-block; */
  vertical-align: middle;
  cursor: pointer;
}

.player-audio .volume-bar{
  width: 100px;
  height: 3px;
  background-color: #717272;
  border-radius: 5px;
  position: relative;
}

.player-audio .advancement-volume-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #C1C1C1;
  border-radius: 5px;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}

.player-audio .volume-bar:hover .advancement-volume-bar{
  background-color: #ADFF2E;
}

.player-audio .advancement-circle{
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 0;
  border-radius: 50%;
  display: none;
}

.player-audio .volume-bar:hover .advancement-circle{
  display: block;
}
/* /Audio  */